

.two-column-container {
  display: flex;
  justify-content: space-between;
}


.column {
  flex: 1;
  padding: 15px;

}


.agent-box {
  margin-bottom: 10px;
  border: 2px solid #efefef;
  padding: 10px;
  width: 250px;
  position: relative;
  border-radius: 4px; }
  .agent-box .img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px; }
    .agent-box .img img {
      width: 80px;
      border-radius: 50%; }
  .agent-box .text h3, .agent-box .text .h3 {
    font-size: 16px; }


    .card-image{
      height: 80vh;
    }

  


    


